@font-face {
  font-family: f1;
  src: url(/public/fonts/GTSectraDisplay-Bold.woff2);
}
@font-face {
  font-family: f2;
  src: url(/public/fonts/Heebo-Light.woff2);
}
@font-face {
  font-family: f3;
  src: url(/public/fonts/Heebo-Regular.woff2);
}
@font-face {
  font-family: f4;
  src: url(/public/fonts/Heebo-Medium.woff2);
}
@font-face {
  font-family: f5;
  src: url(/public/fonts/Heebo-Thin\ \(1\).woff2);
}
@font-face {
  font-family: f6;
  src: url(/public/fonts/GTSectraDisplay-Regular.woff2);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body,
 #root{
  width: 100%;
  background-color: black;
  color: whitesmoke;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main{
  position: relative;
}
section{
  min-height: 100vh;
  position: relative;
  z-index: 2;
}

#canvas-elem::after{
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: url('/public/background-l.png');
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.3s linear;
}

#section-1{
  position: relative;
  nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    padding-top: 3.5rem;

    .nav-elem:nth-child(2){
      font-size: 0.9rem;
      i{
        color: red;
      }
    }
    .nav-elem:nth-child(3){
      i{
        font-size: 1.5rem;
        cursor: pointer;
      }
    }

    svg{
      width: 100%;
      height: auto;
      max-width: 7rem;
    }
  }
  .middle{
    display: flex;

    .left,.right{
      width: 50%;
    }
    .left{
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding-block: 3rem;
      padding-bottom: 0;
    }
    h1{
      font-size: 6.5rem;
      line-height: 0.9;
      text-align: right;
      font-family: f1;
    }
  }
  .bottom{
    display: flex;
    gap: 10rem;
    .left,.right{
      width: 50%;
    }
    .right{
      display: flex;
      flex-direction: column;
      gap: 1rem;
      .p1{
        font-size: 1.6rem;
        font-weight: 100;
      }
      .p2{
        font-size: 0.9rem;
        font-weight: 100;
        color: rgb(218, 213, 213);
      }
    }
  }
  .first-line{
    width: 40rem;
    background-color: rgba(255, 0, 0, 0.673);
    height: 1px;
    position: absolute;
    transform: translateY(-18rem) rotate(45deg);
  }
  .second-line{
    width: 10rem;
    background-color: rgba(255, 0, 0, 0.673);
    height: 1px;
    position: absolute;
    transform: translateX(60rem) translateY(-18rem) rotate(135deg);
  }
}
#section-2{
  .titles{
    display: flex;
    flex-direction: column;
    padding-inline: 2rem;

    .title{
      display: flex;
      gap: 4rem;
      opacity: 0.3;
      padding-block: 1.5rem;
      transition: all 0.3s linear;

      h1{
        font-size: 4rem;
        font-family: f5;
        font-weight: 100;
        line-height: 1;
      }
      small{
        font-size: 0.8rem;
        font-family: f3;
        margin-top: 0.7rem;
      }
    }
    .title:hover{
      opacity: 1;
      cursor: pointer;
    }
  }
}
main:has(#section-2 .title:hover) #canvas-elem::after{
     opacity: 0;

}
.images{
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;

  img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.3s linear;
  }
}

main:has(#section-2 .title[img-title="tomorrowland"]:hover) .images #tomorrowland{
  opacity: 1;
  background-color: rgb(4,7,24);
}
main:has(#section-2 .title[img-title="navy-pier"]:hover) .images #navy-pier{
  opacity: 1;
  background-color: rgb(4,7,24);
}
main:has(#section-2 .title[img-title="msi-chicago"]:hover) .images #msi-chicago{
  opacity: 1;
  background-color: rgb(4,7,24);
}

main:has(#section-2 .title[img-title="phone"]:hover) .images #phone{
  opacity: 1;
  background-color: rgb(4,7,24);
}
main:has(#section-2 .title[img-title="kikk"]:hover) .images #kikk{
  opacity: 1;
  background-color: rgba(11, 22, 86, 0.785);
}
main:has(#section-2 .title[img-title="kennedy"]:hover) .images #kennedy{
  opacity: 1;
  background-color: rgb(4,7,24);
}
main:has(#section-2 .title[img-title="opera"]:hover) .images #opera{
  opacity: 1;
  background-color: rgba(126, 2, 2, 0.745);
}

#section-3{
  padding-block: 15rem;
  padding-inline: 10rem;
  position: relative;
  z-index: 0;
  min-height: initial;

  .top,.bottom{
    display: flex;
    width: 100%;
  }
  .top .left{
    h3{
      font-family: f6;
      font-size: 3rem;
      font-weight: 100;
      line-height: 1.1;
    }
  }
  .left,.right{
    width: 50%;
  }
  .bottom .right{
    display: flex;
    justify-content: space-between;
    width: 60%;

    p{
      opacity: 0.5;
      font-size: 1rem;
      font-family: f2;
      line-height: 1.9rem;
    }
  }
}